<h2><%= pluralize @guests.count, Guest.model_name.human %>:</h2>
<ul>
<% @guests.each do |guest| %>
  <% next if !guest.coming?() && !guest.belongs_to?(current_user) %>
  <li<%= " class='cancelled'" if !guest.coming? %>><%= guest.name %> <small>(<%= guest.user.name %>)</small> <%= 
    if guest.belongs_to? current_user
      if guest.coming?
        then link_to(image_tag('cancel.png'), cancel_event_guest_path(@event, guest))
        else link_to(image_tag('accept.png'), confirm_event_guest_path(@event, guest))
      end
    end
    %></li>
<% end %>
</ul>

<%= link_to t('tert.add_x', :model => Guest.model_name.human), new_event_guest_path(@event), class: 'add' %>
