<h2><%= pluralize @guests.count, 'guest' %>:</h2>
<ul>
<% @guests.each do |guest| %>
  <li><%= guest.name %> <small>(<%= guest.user.name %>)</small></li>
<% end %>
</ul>

<section class="collapsable collapsed">
  <h3>Add guest</h3>
  <%= form_for(@new_guest) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</section>