<h2><%= pluralize @guests.count, 'guest' %>:</h2>
<ul>
<% @guests.each do |guest| %>
  <li<%= " class='cancelled'" if guest.coming? %>><%= guest.name %> <small>(<%= guest.user.name %>)</small> <%= 
    if guest.coming?
    then link_to(image_tag('cancel.png'), cancel_guest_path(guest))
    else link_to(image_tag('accept.png'), confirm_guest_path(guest))
    end
    %></li>
<% end %>
</ul>

<section class="collapsable collapsed">
  <h3>Add guest</h3>
  <%= form_for(@new_guest) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</section>