<section class="collapsable collapsed">
  <h3><%= t 'tert.add_x', :model => Comment.model_name.human%></h3>
  <%= render :partial => "comments/mini_form" %>
</section>

<h2><%= pluralize @comments.count, Comment.model_name.human %>:</h2>
<ul>
<!-- TODO: sort by date DESC. -->
<!-- TODO: why do these datetimes seem to be in CET? -->
<% @comments.each do |comment| %>
	<li>
		<%= comment.title %> <small>(<%= comment.user.name %> &mdash; <%= l comment.updated_at, format: :long %>)</small>: 
		<!-- TODO <ul class='options'>
			<li>< %= link_to 'Edit', edit_comment_path, comment %>
			<li>< %= link_to 'Destroy', comment, confirm: 'Are you sure?', method: :delete %>
		</ul>-->
		<p class="description"><%= comment.description %></p>
	</li>
<% end %>
</ul>
