<section class="collapsable collapsed">
  <h3><%= t 'tert.add_x', :model => Comment.model_name.human%></h3>
  <%= render :partial => "comments/mini_form" %>
</section>

<h2><%= pluralize @comments.count, Comment.model_name.human %>:</h2>
<ul>
<!-- TODO: sort by date DESC. -->
<!-- TODO: why do these datetimes seem to be in CET? -->
<% @comments.each do |comment| %>
	<li id='comment-<%= comment.id %>'>
		<%= comment.title %> <small>(<%= comment.user.name %> &mdash; <%= l comment.updated_at, format: :long %>)</small><% next unless comment.description? %>:
		<p class="description"><%= comment.description %></p>
	</li>
<% end %>
</ul>
