<h2><%= pluralize @comments.count, Comment.model_name.human %>:</h2>

<%= link_to t('tert.add_x', :model => Comment.model_name.human), new_event_comment_path(@event), class: 'add' %>

<ul>
<% @comments.each do |comment| %>
	<li id='comment-<%= comment.id %>'>
		<%= comment.title %> <small>(<%= comment.user.name %> &mdash; <%= l comment.updated_at, format: :long %>)</small><% next unless comment.description? %>:
		<p class="description"><%= comment.description %></p>
	</li>
<% end %>
</ul>
