<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= l @comment.date, format: :long %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user.name %>
</p>

<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @comment.description %>
</p>


<%= link_to 'Destroy', @comment, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', :root %>
