<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @comment.date %>
</p>

<p>
  <b>User login:</b>
  <%= @comment.user_login %>
</p>

<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @comment.description %>
</p>


<%= link_to 'Destroy', @comment, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', :root %>
