<h1>New resource type</h1>

<%= form_for([@event, @contribution_type]) do |f| %>
  <% if @contribution_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution_type.errors.count, "error") %> prohibited this resource type from being saved:</h2>

      <ul>
      <% @contribution_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :colour %><br />
    <%= f.text_field :colour %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>


<%= link_to 'Back', event_path(params[:event_id]) %>
