<h2><%= pluralize @users.count, User.model_name.human %>:</h2>
<table>
	<thead><tr>
		<th><%= User.human_attribute_name :name %></th>
		<th><%= User.human_attribute_name :email %></th>
		<th><%= User.human_attribute_name :admin? %></th>
		<th />
	</tr></thead>
	<tbody>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td<%= " class='highlight'" if user.admin? %>>
				<%= t user.admin?.to_s %>
				<%=
				  user.admin? ?
				    link_to(image_tag('cancel.png', title: t('tert.revokeAdmin')), make_normal_user_path(user))
				  : link_to(image_tag('accept.png', title: t('tert.grantAdmin')), make_admin_user_path(user))
				%>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>

<ul class="options">
<li><%= link_to t('tert.Invite'), new_user_invitation_path %>
</ul>