
<div id="guests">
	<h2><%= pluralize @guests.count, 'guest' %>:</h2>
	<ul>
	<% @guests.each do |guest| %>
	  <li><%= guest.name %></li>
	<% end %>
	</ul>
	<%= link_to 'Change', guests_path %>
</div>

<div id="contributions">
	<h2><%= pluralize @contributions.count, 'contribution' %>:</h2>
	<ul>
	<% @contributions.each do |contrib| %>
	  <li><%= contrib.name %> (<%= contrib.user_login %>)</li>
	<% end %>
	</ul>
	<%= link_to 'Change', contributions_path %>
</div>

<div id="comments">
	<%= render :partial => "comments/list", :locals => {:comments => @comments} %>
</div>
