
<section id="guests">
	<h2><%= pluralize @guests.count, 'guest' %>:</h2>
	<ul>
	<% @guests.each do |guest| %>
	  <li><%= guest.name %> <small>(<%= guest.user.name %>)</small></li>
	<% end %>
	</ul>
	<ul class="options">
		<li><%= link_to 'Add new', new_guest_path %>
		<li><%= link_to 'Change', guests_path %>
	</ul>
</section>

<section id="contributions">
	<h2><%= pluralize @contributions.count, 'contribution' %>:</h2>
	<ul>
	<% @contributions.each do |contrib| %>
	  <li><%= contrib.name %> (<%= contrib.contribution_type.name %> &ndash; <%= contrib.user.name %>)</li>
	<% end %>
	</ul>
	<ul class="options">
		<li><%= link_to 'Add new', new_contribution_path %>
		<li><%= link_to 'Change', contributions_path %>
	</ul>
</section>

<section id="comments">
	<%= render :partial => "comments/list" %>

	<h3>Add comment</h3>
	<%= render :partial => "comments/mini_form" %>
</section>
