<p>
  <b><%= Event.human_attribute_name 'when' %>:</b>
  <%= @event.when %>
</p>

<p>
  <b><%= Event.human_attribute_name 'owner' %>:</b>
  <%= @event.owner.name %>
</p>


<section id="guests">
  <%= render :partial => "guests/list" %>
</section>

<section id="contributions">
  <%= render :partial => "contributions/list" %>
</section>

<section id="comments">
  <%= render :partial => "comments/list" %>
</section>
