<p>
  <b>When:</b>
  <%= @event.when %>
</p>

<p>
  <b>Owner:</b>
  <%= @event.owner.name %>
</p>


<section id="guests">
  <%= render :partial => "guests/list" %>
</section>

<section id="contributions">
  <%= render :partial => "contributions/list" %>
</section>

<section id="comments">
  <%= render :partial => "comments/list" %>
</section>
