<p>
  <b><%= Event.human_attribute_name 'when' %>:</b>
  <%= @event.when %>
</p>

<p>
  <b><%= Event.human_attribute_name 'owner' %>:</b>
  <%= @event.owner.name %>
</p>


<% if @event.belongs_to? current_user %>
<ul class='options'>
	<li><%= link_to t(:Edit), edit_event_path(@event), class: :edit %>
</ul>
<% end %>


<section id="guests">
  <%= render :partial => "guests/list" %>
</section>

<section id="contributions">
  <%= render :partial => "contributions/list" %>
</section>

<section id="comments">
  <%= render :partial => "comments/list" %>
</section>
