<%= form_for(@contribution) do |f| %>
  <% if @contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
      <% @contribution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contribution_type %><br />
    <% all_types = ContributionType.all.collect {|t| [ t.name, t.id ] } %>
    <%= f.select :contribution_type_id, all_types %>
  </div>
  <div class="field">
    <%= f.label :registered_by %> <strong><%= current_user.name %></strong>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
