<h2><%= pluralize @contributions.count, Contribution.model_name.human %>:</h2>
<table>
	<thead><tr>
		<th><%= Contribution.human_attribute_name :name %></th>
		<th><%= Contribution.human_attribute_name :contribution_type %></th>
		<th><%= Contribution.human_attribute_name :user %></th>
		<th></th>
	</tr></thead>
	<tbody>
	<% @contributions.each do |contrib| %>
		<% next if contrib.removed?() && !contrib.belongs_to?(current_user) %>
		<tr<%= " class='cancelled'" if contrib.removed? %>>
			<td><%= contrib.name %></td>
			<td style="background-color: <%= contrib.contribution_type.colour %>;"><%= contrib.contribution_type.name %></td>
			<td><%= contrib.user.name %></td>
			<td><%= 
			if contrib.belongs_to? current_user
			  if contrib.removed?
			    then link_to(image_tag('accept.png'), confirm_event_contribution_path(@event, contrib))
			    else link_to(image_tag('cancel.png'), cancel_event_contribution_path(@event, contrib))
			  end
			end
			%></td>
		</tr>
	<% end %>
	</tbody>
</table>

<section class="collapsable collapsed">
  <h3><%= t 'tert.add_x', :model => Contribution.model_name.human%></h3>
  <%= render :partial => "contributions/mini_form" %>
</section>