<h2><%= pluralize @contributions.count, 'contribution' %>:</h2>
<table>
	<thead><tr>
		<th>Name</th>
		<th>Type</th>
		<th>User</th>
	</tr></thead>
	<tbody>
	<% @contributions.each do |contrib| %>
		<tr style="background-color: <%= contrib.contribution_type.colour %>;">
			<td><%= contrib.name %></td>
			<td><%= contrib.contribution_type.name %></td>
			<td><%= contrib.user.name %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<section class="collapsable collapsed">
  <h3>Add contribution</h3>
  <%= form_for(@new_contribution) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :contribution_type %>
      <% all_types = ContributionType.all.collect {|t| [ t.name, t.id ] } %>
      <%= f.select :contribution_type_id, all_types %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</section>