<%= form_for([@event, @new_contribution]) do |f| %>
  <div class="field">
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contribution_type %>:
    <% all_types = ContributionType.all.collect {|t| [ t.name, t.id ] } %>
    <%= f.select :contribution_type_id, all_types %>
    <% str = t('tert.new_x.male', :model => ContributionType.model_name.human) %>
    <%= link_to str, new_contribution_type_path(:event_id => params[:id]), :class => 'add' %>
  </div>
  <div class="actions">
    <%= f.submit t('tert.add') %>
  </div>
<% end %>
