<%= form_for(@new_contribution) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contribution_type %>
    <% all_types = ContributionType.all.collect {|t| [ t.name, t.id ] } %>
    <%= f.select :contribution_type_id, all_types %>
    <%= link_to 'new type', new_contribution_type_path, :class => 'add' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
