<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contribution.name %>
</p>

<p>
  <b>Type:</b>
  <%= @contribution.contribution_type.name %>
</p>

<p>
  <b>User:</b>
  <%= @contribution.user.name %>
</p>


<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
