<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contribution.name %>
</p>

<p>
  <b>User login:</b>
  <%= @contribution.user_login %>
</p>


<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
